@model AuthorFormModel

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="form-group">
                <label asp-for="IsActive"></label>
                <input asp-for="IsActive" type="checkbox" value="true" >
                <input asp-for="IsActive" type="hidden" value="false" >
            </div>
            <div class="form-group">
                <label asp-for="Alias"></label>
                <input asp-for="Alias" class="form-control" placeholder="Alias...">
                <span asp-validation-for="Alias" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="Name...">
                <span asp-validation-for="Name" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" rows="4" class="form-control" placeholder="This author..."></textarea>
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvatarImageUrl"></label>
                <input asp-for="AvatarImageUrl" class="form-control" placeholder="Your fine URL here...">
                <span asp-validation-for="AvatarImageUrl" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId"></label>
                <select asp-for="CategoryId" class="form-control">
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span asp-validation-for="CategoryId" class="small text-danger"></span>
            </div>
            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>