@model ModuleFormModel
@{
    ViewBag.Title = "Edit Module";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_ModuleFormPartial" model="@Model" ; />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}