@model IEnumerable<CourseViewModel>
@{
    ViewBag.Title = "My Courses";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (!Model.Any())
{
    <h2 class="text-center">You have no courses yet!</h2>
}

<div class="row">
    @foreach (var course in Model)
    {
        <partial name="_CoursePartial" model="course" />
    }
</div>