@inject IPublisherService _publisherService
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SpiritualHub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SpiritualHub.Client.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.css" integrity="sha512-6S2HWzVFxruDlZxI3sXOZZ4/eJ8AcxkQH1+JjSe/ONCEqR9L4Ysq5JdT5ipqtzU7WHalNwzwBv+iE51gNHJNqQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <partial name="_NotificationsPartial" />
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SpiritualHub</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Author" asp-action="All">Authors</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Event" asp-action="All">Events</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Course" asp-action="All">Courses</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="All">Books</a>
                        </li>
                        @if (this.User.Identity?.IsAuthenticated ?? false)
                        {
                            @if (this.User.IsAdmin())
                            {
                                <li>
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Category" asp-action="All">Categories</a>
                                </li>
                                <li>
                                    <a class="nav-link text-dark" asp-area="Admin" asp-controller="User" asp-action="All">Users</a>
                                </li>
                            }
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" asp-area="" asp-controller="User" asp-action="Index">My Space <span class="caret"></span></a>
                                <ul class="dropdown-menu realign">
                                    <li>
                                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index">My Info</a>
                                    </li>
                                    <li>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Author" asp-action="Mine">My Authors</a>
                                    </li>
                                    <li>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Event" asp-action="Mine">My Joined Events</a>
                                    </li>
                                    <li>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Course" asp-action="Mine">My Courses</a>
                                    </li>
                                    <li>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="Mine">My Books</a>
                                    </li>
                                    @if (this.User.IsAdmin())
                                    {
                                        <li>
                                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Category" asp-action="All">Categories</a>
                                        </li>
                                    }
                                </ul>
                            </li>
                            @if (await _publisherService.ExistsByUserId(this.User.GetId()!))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link text-dark dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Publisher Space<span class="caret"></span></a>
                                    <ul class="dropdown-menu realign">
                                        <li>
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Author" asp-action="MyPublishings">My Authors</a>
                                        </li>
                                        <li>
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Event" asp-action="MyPublishings">My Events</a>
                                        </li>
                                        <li>
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Course" asp-action="MyPublishings">My Courses</a>
                                        </li>
                                        <li>
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="MyPublishings">My Books</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link text-dark dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add<span class="caret"></span></a>
                                    <ul class="dropdown-menu realign">
                                        <li>
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Author" asp-action="Add">Author</a>
                                        </li>
                                        <li>
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Event" asp-action="Add">Event</a>
                                        </li>
                                        <li>
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Course" asp-action="Add">Course</a>
                                        </li>
                                        <li>
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="Add">Book</a>
                                        </li>
                                        @if (this.User.IsAdmin())
                                        {
                                            <li>
                                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Category" asp-action="Add">Category</a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - SpiritualHub
        </div>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
